<section class="main-container">
  <!-- PROCESS NAME -->
  <h1 *ngIf="(process$ | async)?.process as process; else call">
    {{ process.robotiqProcessInfo.name }}
  </h1>

  <!-- VARIABLE LIST -->
  <mat-card class="card">
    <mat-card-content>
      <ng-container *ngIf="variableStepsSubject$ | async as defineVariableSteps">
        <div role="list" *ngIf="defineVariableSteps.length > 0; else noData">
          <div *ngFor="let variableName of defineVariableSteps" role="listitem">
            <p class="list-item">{{ variableName }}</p>
            <mat-divider></mat-divider>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</section>

<ng-template #call>
  <h1>Call the api to get the data</h1>
</ng-template>

<ng-template #noData>
  <p>Press get variables button</p>
</ng-template>