<mat-grid-list cols="10">
  <mat-grid-tile colspan="3">
    <app-credentials></app-credentials>
  </mat-grid-tile>
  <mat-grid-tile colspan="7">
    <app-call-buttons></app-call-buttons>
  </mat-grid-tile>
  <mat-grid-tile colspan="10">
    <app-parent-step-list></app-parent-step-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="10">
    <app-variable-list></app-variable-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="10">
    <app-variable-occurence-table></app-variable-occurence-table>
  </mat-grid-tile>
</mat-grid-list>
