.main-container {
    padding: 2rem;
}

.card {
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
}

.card-content {
    padding: 16px 18px !important;
}

.list-item {
    font-size: 0.875rem;
}