<section class="main-container">
  <mat-card>
    <mat-card-content>
      <mat-table [dataSource]="dataSource" *ngIf="dataSource.length > 0; else noData">

        <!-- Define columns dynamically based on titles -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef> {{ column }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element[column] }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</section>

<ng-template #noData>
  <span>Press get variable occurrence button</span>
</ng-template>
