mat-progress-bar {
    position: absolute;
}

.form-container {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column > mat-form-field:first-child {
    margin-bottom: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}