<mat-progress-bar *ngIf="fetchingData" mode="query"></mat-progress-bar>
<form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex-column">
    <!-- USERNAME -->
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        type="text"
        maxlength="30"
        matInput
        formControlName="username"
        placeholder="username"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="form.controls['username'].hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        maxlength="30"
        matInput
        formControlName="password"
        placeholder="password"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- DEFAULT CHECKBOX -->
    <mat-checkbox
      formControlName="checkBox"
      color="primary"
      (change)="onCheckboxChange($event)"
      >Use default credentials</mat-checkbox
    >
  </div>

  <!-- BUTTONS -->
  <div class="flex-column gap-1">
    <button
      mat-stroked-button
      color="primary"
      (click)="onButtonClick(buttonSelected.GET_VARIABLES)"
      [disabled]="isFormInvalid()"
    >
      GET VARIABLES
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="onButtonClick(buttonSelected.GET_VARIABLE_OCCURENCE)"
      [disabled]="isFormInvalid()"
    >
      GET VARIABLE OCCURENCE
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="onButtonClick(buttonSelected.GET_PARENT_STEP_LIST)"
      [disabled]="isFormInvalid()"
    >
      GET PARENT STEP LIST
    </button>
  </div>
</form>
